<h1>Forms</h1>

<form action="/" method="GET">
    <input type="text" name="inputone" value="foo">
    <input type="text" name="inputtwo" value="bar">
    <input type="text" name="inputthree" value="biz">
    <button id="submit">Send GET ></button>
</form>

<form action="/?inputquery=taco" method="POST">
    <input type="text" name="inputone" value="foo">
    <input type="text" name="inputtwo" value="bar">
    <input type="text" name="inputthree" value="biz">
    <button id="submit">Send POST ></button>
</form>